<html>

  <head>
    <title>
      Slack page
    </title>
    <meta charset='utf-8' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.8, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />
  </head>

  <body>

    <div class='page'>
       <section class='page_section'>
          <div class='page_content hero_section'>

           <div class='hero'>
              <div class='hero_content'>
                <span class='hero_label'>Slack Features</span>
                 <h1 class='hero_title'>One platform for your team and your work</h1>
                  <p class='hero_info double_line'>All the features of Slack work together so you can, too.</p>
                   <div class='hero_buttons'>
                      <a href='#' class='button button_primary click'>Try for free</a>
                      <a href='#' class='button button_secondary click' >See all features</a>
                    </div>
               </div>
                  <img src='/css/img/hero.png' alt='Hero' class='hero_image'/>
            </div>

                    <div class='brands'>
                      <img src='/css/brands/airbnb.png' alt='airbnb' class='brands_image'/>
                      <img src='/css/brands/intuit.png' alt='intuit' class='brands_image'/>
                      <img src='/css/brands/newscorp.png' alt='newscorp' class='brands_image'/>
                      <img src='/css/brands/onemedical.png' alt='onemedical' class='brands_image'/>
                      <img src='/css/brands/sonos.png' alt='sonos' class='brands_image' />
                      <img src='css/brands/target.png' alt='target' class='brands_image'/>
                      <img src='/css/brands/uber.png' alt='uber' class='brands_image'/>
                      <img src='/css/brands/va.png' alt='va' class='brands_image' />
                    </div>
          </div>
       </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <h2 class='features_title'>Work more easily witheveryone</h2>
            <p class='features_description double_line'>Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>
              <div class='features_grid_4'>
                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/slack.svg')"></span>
                  <strong class='feat_card_title'>Slack connect</strong>
                  <p class='double_line'>Collaborate with teams at other companies the same way you do with teams at your own.</p>
                  <a href='#' class='icon icon_arrow click feat_link'></a>
                </div>

                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/channels.svg')"></span>
                  <strong class='feat_card_title'>Channels</strong>
                  <a href='#'class='icon icon_arrow click feat_link'></a>
                </div>
                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/huddle.svg')"></span>
                  <strong class='feat_card_title'>Huddles</strong>
                  <a href='#'class='icon icon_arrow click feat_link'></a>
                </div>
                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/clips.svg')"></span>
                  <strong class='feat_card_title'>Clips</strong>
                  <a href='#' class='icon icon_arrow click feat_link'></a>
                </div>
                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/canva.svg')"></span>
                  <strong class='feat_card_title'>Canvas</strong>
                  <a href='#'class='icon icon_arrow click feat_link'></a>
                </div>
                <div class='feat_card'>
                  <span class='icon feat_icon'style="background-image: url('/css/feature/messaging.svg')"></span>
                  <strong class='feat_card_title'>Messaging</strong>
                  <a href='#'class='icon icon_arrow click feat_link'></a>
                </div>
                <div class='feat_card'>
                  <span class='icon feat_icon' style="background-image:url('/css/feature/accessibility.svg')"></span>
                  <strong class='feat_card_title'>Accessibility</strong>
                  <a href='#' class='icon icon_arrow click feat_link'></a>
               </div>
              </div>
        
               <div class='page_content feature_section'>
                  <h2 class='features_name'>What you need, when you need it</h2>
                  <p class='features_text'>Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>

                  <div class='features_grid_4'>
                    <div class='feat_card'>
                      <span class='icon feat_icon' style="background-image:url('/css/feature/apps.svg')"></span>
                      <strong class='features_card_name'>Apps and Integrations</strong>
                      <a href='#' class='icon icon_arrow click features_link'></a>
                      <p class='features_text'>Streamline work by connecting Slack with other serviceslike Google Drive, Office 365 and over 2,200 more.</p>
                    </div>
                    <div class='feat_card'>
                      <span class='icon feat_icon' style="background-image:url('/css/feature/builder.svg')"></span>
                      <strong class='features_card_name'>Workflow Builder</strong>
                      <a href='#' class='icon icon_arrow click features_link'></a>
                      <p class='features_text'>Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                        </div>
                    <div class='feat_card'>
                      <span class='icon feat_icon' style="background-image:url('/css/feature/search.svg')"></span>
                      <strong class='features_card_name'>Search</strong>
                      <a href='#'class='icon icon_arrow click features_link'></a>
                    </div>
                    <div class='feat_card'>
                      <span class='icon feat_icon'style="background-image:url('/css/feature/file.svg')"></span>
                      <strong class='features_card_name'>File sharing</strong>
                      <a href='#' class='icon icon_arrow click features_link'></a>
                    </div>
                  </div>
                </div>
          </section>
       
     
        <section class="page_content footer_section">
          <div class="footer_section">
          <img src='/css/img/div.c-card.png' alt='Footer' class='footer_image'/>
           <img src='/css/img/div.o-content.png' alt='Footer' class='footer_image'/>
        </div>  
      </section>
 
    </div>
  </body>

</html>