.card {
  border: none;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: left;
  text-transform: uppercase;
  tab-size: 10px;
  text-decoration: underline solid red;
}
span {
  text-decoration-line: line-through;
  text-decoration-style: double;
}
pre {
  tab-size: 5;
  letter-spacing: normal;
}
* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.test {
  display: none;
}
.block {
  display: inline-block;
  background: gray;
  margin: 50%;
}

.card {
  border: 1px solid red;
}
