<div>
  <h1 class='main_heading'>{{heading}}</h1>
  <p class='main_descriotion'>{{descriotion}}</p>
  <span class='button btn-primary'></span>
  <a class='main_button' href='{{href}}'>{{button}}</a>

</div>